registry=http://3.145.25.240:8181/jaysleekytech/repository/ebay-npm-repo-all/
email=muhamdaj11@gmail.com
##always-auth=true
//registry.npmjs.org/:_auth=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
allowRepublish=true
